/*
Error: Undefined variable: "$wml".
        on line 1 of /home/oleg/Applications/online_snieckeriet/onlinesnickeriet/sass/partials/customConstructor.scss

1: @media (max-width: $wml){
2:   .portlet-title{
3:     float: left;
4:     padding: 0;
5:     margin: 0;
6:     width: 68px;

Backtrace:
/home/oleg/Applications/online_snieckeriet/onlinesnickeriet/sass/partials/customConstructor.scss:1
/usr/lib/ruby/vendor_ruby/sass/script/tree/variable.rb:49:in `_perform'
/usr/lib/ruby/vendor_ruby/sass/script/tree/node.rb:50:in `perform'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/perform.rb:540:in `block in run_interp_no_strip'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/perform.rb:538:in `map'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/perform.rb:538:in `run_interp_no_strip'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/perform.rb:545:in `run_interp'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/perform.rb:510:in `visit_media'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/base.rb:36:in `visit'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/perform.rb:158:in `block in visit'
/usr/lib/ruby/vendor_ruby/sass/stack.rb:79:in `block in with_base'
/usr/lib/ruby/vendor_ruby/sass/stack.rb:115:in `with_frame'
/usr/lib/ruby/vendor_ruby/sass/stack.rb:79:in `with_base'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/perform.rb:158:in `visit'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/base.rb:52:in `block in visit_children'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/base.rb:52:in `map'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/base.rb:52:in `visit_children'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/perform.rb:167:in `block in visit_children'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/perform.rb:179:in `with_environment'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/perform.rb:166:in `visit_children'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/base.rb:36:in `block in visit'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/perform.rb:186:in `visit_root'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/base.rb:36:in `visit'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/perform.rb:157:in `visit'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/perform.rb:8:in `visit'
/usr/lib/ruby/vendor_ruby/sass/tree/root_node.rb:36:in `css_tree'
/usr/lib/ruby/vendor_ruby/sass/tree/root_node.rb:20:in `render'
/usr/lib/ruby/vendor_ruby/sass/engine.rb:278:in `render'
/usr/lib/ruby/vendor_ruby/compass/import-once/engine.rb:17:in `block in render'
/usr/lib/ruby/vendor_ruby/compass/import-once/engine.rb:29:in `with_import_scope'
/usr/lib/ruby/vendor_ruby/compass/import-once/engine.rb:16:in `render'
/usr/lib/ruby/vendor_ruby/sass/plugin/compiler.rb:492:in `update_stylesheet'
/usr/lib/ruby/vendor_ruby/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/usr/lib/ruby/vendor_ruby/sass/plugin/compiler.rb:209:in `each'
/usr/lib/ruby/vendor_ruby/sass/plugin/compiler.rb:209:in `update_stylesheets'
/usr/lib/ruby/vendor_ruby/sass/plugin/compiler.rb:293:in `watch'
/usr/lib/ruby/vendor_ruby/compass/sass_compiler.rb:46:in `watch!'
/usr/lib/ruby/vendor_ruby/compass/commands/watch_project.rb:41:in `perform'
/usr/lib/ruby/vendor_ruby/compass/commands/base.rb:18:in `execute'
/usr/lib/ruby/vendor_ruby/compass/commands/project_base.rb:19:in `execute'
/usr/lib/ruby/vendor_ruby/compass/exec/sub_command_ui.rb:43:in `perform!'
/usr/lib/ruby/vendor_ruby/compass/exec/sub_command_ui.rb:15:in `run!'
/usr/bin/compass:30:in `block in <main>'
/usr/bin/compass:44:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Undefined variable: \"$wml\".\A         on line 1 of /home/oleg/Applications/online_snieckeriet/onlinesnickeriet/sass/partials/customConstructor.scss\A \A 1: @media (max-width: $wml){\A 2:   .portlet-title{\A 3:     float: left;\A 4:     padding: 0;\A 5:     margin: 0;\A 6:     width: 68px;"; }
