.fragor{
  @include block(block, 100%, auto, none);
  padding: 40px 0;
  .fragor__content{
    padding: 10px 0;
    border-top: 1px solid #e4e4e4;
    border-bottom: 1px solid #e4e4e4;
    h2{
      @include text($black, 30px, 600, left);
      padding: 20px 0;
    }
    ul{
      li{
        position: relative;
        margin: 0 0 20px 0;
        &:before{
          @include pseudo-elem(30px, 30px, #444);
          position: absolute;
          left: 0;
          top: 8px;
        }
        .li__text{
          display: none;
        }
        &.active{
          .li__title{
            &:after{
              display: none;
            }
          }
        }
      }
    }
    p{
      padding: 10px 10px 10px 40px;
      @include text($grayText, 16px, 400, left);
      &.li__title{
        @include text($black, 20px, 400, left);
        font-family: 'Open Sans', sans-serif!important;
        cursor: pointer;
        position: relative;
        &:before, &:after{
          @include pseudo-elem(20px, 2px, #fff);
          position: absolute;
          left: 5px;
          top: 22px;
        }
        &:after{
          width: 2px;
          height: 20px;
          left: 14px;
          top: 13px;
        }
      }
    }
  }
  .fragor__form{
    padding-top: 30px;
    h5{
      @include text($black, 25px, 600, center);
      display: block;
    }
    label{
      display: block;
      margin: 30px 0 0 0;
      .label, input{
        display: block;
      }
      .label{
        font-size: 16px;
        font-family: 'Open Sans', sans-serif!important;
        padding-bottom: 4px;
      }
      input[type="text"], textarea{
        @include calc(width, '100% - 10px');
        @include border-radius(4px);
        @include duration(300ms);
        background: $gray;
        border: 1px solid #e4e4e4;
        font-size: 14px;
        font-family: "Open Sans", sans-serif!important;
        padding: 8px 4px;
        color: $black;
        &:focus{
          border: 1px solid #ccc;
        }
      }
      textarea{
        min-height: 160px;
      }
    }
    input[type="submit"]{
      display: block;
      width: 183px;
      height: 43px;
      background: #fff;
      color: $color;
      border: 1px solid $color;
      line-height: 43px;
      @include duration(300ms);
      font-size: 16px;
      font-family: 'Open Sans', sans-serif!important;
      cursor: pointer;
      margin-top: 30px;
      &:hover{
        color: #fff;
        background: $color;
      }
    }
  }
}
