#main{
  .gallery__tabs{
    @include block(block, 680px, 43px, none);
    border: 1px solid $color;
    position: relative;
    margin: 54px auto 14px auto;
    &:before{
      @include pseudo-elem(2px, 100%, #e4e4e4);
      position: absolute;
      left: 50%;
      top: 0;
      margin: 0 0 0 -1px;
    }
    li{
      float: left;
      width: 50%;
      line-height: 43px;
      @include text($black, 20px, 400, center);
      font-family: 'Open Sans', sans-serif;
      cursor: pointer;
      &.active{
        background: $color;
      }
    }
  }
  .tabs__container{
    & > div{
      overflow: visible;
    }
    .main__gallery{
      ul{
        background: none!important;
        li{
          img{
          }
          &.selected{
            position: relative!important;
            margin-bottom: 530px!important;
            overflow: visible;
            .image-holder-gallery{
              box-shadow: 0 0 0 6px $color;
            }
          }
          .inside{
            @include block(block, 1253px, 443px, none);
            padding: 25px 45px 35px 20px;
            position: absolute;
            border: 1px solid #e4e4e4;
            bottom: -524px;
            @media (max-width: $wds){
              width: 900px;
              padding: 25px 20px 35px 20px;
            }
            @media (max-width: $wt){
              width: 678px;
            }
            &.first{
              left: 3px;
              @media (max-width: $wds){
                left: -4px;
              }
              @media (max-width: $wt){
                left: -33px;
              }
            }
            &.second{
              left: -342px;
              @media (max-width: $wds){
                left: -324px;
              }
              @media (max-width: $wt){
                left: -393px;
              }
            }
            &.third{
              left: -687px;
              @media (max-width: $wds){
                left: -644px;
              }
            }
            &.fourth{
              left: -1032px;
            }
            div.wpcf7{
              float: left!important;
            }
            .close{
              position: absolute;
              right: 26px;
              top: 26px;
              width: 25px;
              height: 25px;
              display: block;
              cursor: pointer;
              &:after, &:before{
                @include pseudo-elem(100%, 2px, $black);
                position: absolute;
                left: 0;
                top: 50%;
                margin-top: -2px;
                @include rotate(45deg);
              }
              &:after{
                @include rotate(-45deg);
              }
            }
            .title{
              @include text($black, 25px, 600, left);
            }
            .image-holder{
              position: relative;
              float: left;
              width: 292px;
              height: 292px;
              margin-top: 34px;
              overflow: hidden;
            }
            input.name, input.email{
              width: 788px;
              height: 41px;
              border: 2px solid #e4e4e4;
              padding: 0 20px;
              background: #fff;
              font-size: 16px;
              font-family: 'Open Sans', sans-serif;
              margin: 0 0 26px 44px;
              @media (max-width: $wds){
                width: 500px;
              }
              @media (max-width: $wt){
                width: 280px;
              }
              &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
                color: $grayText;
              }
              &::-moz-placeholder { /* Firefox 19+ */
                color: $grayText;
              }
              &:-ms-input-placeholder { /* IE 10+ */
                color: $grayText;
              }
              &:-moz-placeholder { /* Firefox 18- */
                color: $grayText;
              }
              &.name{
                margin-top: 46px;
              }
            }
            span.name, span.email{
              .wpcf7-not-valid-tip{
                position: relative;
                left: 46px;
                top: -80px;
                font-family: 'Open Sans', sans-serif;
              }
            }
            span.message{
              .wpcf7-not-valid-tip{
                position: relative;
                left: 46px;
                top: -114px;
                font-family: 'Open Sans', sans-serif;
              }
            }
            label{
              position: relative;
              margin-left: 46px;
              input{
                opacity: 0;
              }
              .file{
                width: 788px;
                height: 36px;
                padding: 0 20px;
                border: 2px solid #e4e4e4;
                position: absolute;
                left: 0;
                top: 0;
                background: #fff;
                border-top: 1px solid #e4e4e4;
                @media (max-width: $wds){
                  width: 500px;
                }
                @media (max-width: $wt){
                  width: 280px;
                }
                span.icon{
                  width: 16px;
                  height: 16px;
                  float: left;
                }
                span.p-text{
                  color: $grayText;
                  line-height: 36px;
                  font-size: 16px;
                  font-family: 'Open Sans', sans-serif;
                }
              }
            }
            textarea{
              width: 788px;
              height: 92px;
              padding: 0 20px;
              border: 2px solid #e4e4e4;
              resize: none;
              border-bottom: 1px solid #e4e4e4;
              font-size: 16px;
              font-family: 'Open Sans', sans-serif;
              margin-left: 46px;
              padding-top: 10px;
              @media (max-width: $wds){
                width: 500px;
              }
              @media (max-width: $wt){
                width: 280px;
              }
              &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
                color: $grayText;
              }
              &::-moz-placeholder { /* Firefox 19+ */
                color: $grayText;
              }
              &:-ms-input-placeholder { /* IE 10+ */
                color: $grayText;
              }
              &:-moz-placeholder { /* Firefox 18- */
                color: $grayText;
              }
            }
            button, input[type="submit"]{
              display: block;
              width: 183px;
              height: 43px;
              line-height: 43px;
              color: $color;
              border: 1px solid $color;
              @include duration($time);
              background: #fff;
              margin: 50px 0 0 47px;
              font-size: 16px;
              font-family: 'Open Sans', sans-serif;
              cursor: pointer;
              &:hover{
                background: $color;
                color: #fff;
              }
            }
            .wpcf7-validation-errors{
              border: none!important;
              position: relative;
              left: 25px;
              top: 30px;
              font-family: 'Open Sans', sans-serif;
            }
          }
        }
      }
    }
  }
}
