#wrapper{
  @include block(block, 100%, 100%, #fff);
  & *:not(.main__constructor_container):not(i){
    font-family: 'Exo', sans-serif;
  }
  .icon{
    font-family: 'icomoon', sans-serif!important;
  }
  .layout{
    @include block(block, 1330px, 100%, none);
    margin: 0 auto;
    // overflow: hidden;
    @media (max-width: $wds){
      width: 960px;
    }
    @media (max-width: $wt){
      width: 720px;
    }
    @media (max-width: $wml){
      width: 310px;
      padding: 0 5px;
    }
    &.center{
      min-height: 100vh;
      @include display(flex);
      -webkit-align-items: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      @media (max-width: $wml){
        -webkit-align-items: stretch;
        -webkit-box-align: stretch;
        -ms-flex-align: stretch;
        align-items: stretch;
        padding: 20px 0;
      }
    }
  }
}
.color__green{
  color: $true!important;
}
.color__red{
  color: $false!important;
}
.color__yellow{
  color: #ffba00!important;
}
.float-right{
  float: right!important;
}
.float-left{
  float: left!important;
}
.hidden{
  display: none!important;
}
.disabled{
  background: #e4e4e4!important;
  color: $grayText!important;
  cursor: default!important;
}
.up{
  position: fixed;
  right: 4%;
  bottom: 4%;
  background: url(../images/up.svg) no-repeat;
  background-size: contain;
  width: 40px;
  height: 40px;
  cursor: pointer;
  opacity: 0;
  @include duration(300ms);
  &:hover{
    background: url(../images/up-inverse.svg) no-repeat;
    background-size: contain;
  }
}
