@media (max-width: $wml){
  .portlet-title{
    float: left;
    padding: 0;
    margin: 0;
    width: 68px;
    .btn-group{
      display: block;
      a{
        margin: 0;
      }
    }
  }
  .canvas-container{
    width: 226px;
    float: right;
  }
  #design-action-price{
    position: absolute;
    left: 76px;
    top: 320px;
    background: none;
    span{
      font-size: 18px;
      font-weight: 600;
      color: $header__top_text;
    }
    i{
      color: $header__top_text;
    }
  }
  #design-action-weight{
    position: absolute;
    top: 320px;
    right: 0;
    background: none;
    span{
      font-size: 18px;
      font-weight: 600;
      color: $header__top_text;
    }
    i{
      color: $header__top_text;
    }
  }
  #design-action-material{
    width: 158px;
    height: 48px;
    background: none;
    position: absolute;
    left: 70px;
    top: 0;
    padding: 0 20px;
    span{
      font-size: 18px;
      font-weight: 600;
      color: $header__top_text;
    }
  }
  #design-action-legs{
    display: none;
  }
  #design-action-options{
    display: none;
  }
  #design-action-add{
    display: block;
    width: 300px;
    height: 45px;
    position: static;
    background: $color;
    @include border-radius(0);
    color: #fff;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    i{
      display: none;
    }
  }
  #design-action-rensa{
    display: none;
  }
  .portlet-title{
    background: none;
    padding: 0;
    width: 100%;
  }
  .caption{
    display: block;
    font-size: 18px;
    color: $header__top_text;
    i{
      color: $header__top_text;
      font-size: 18px;
      margin-right: 20px;
    }
  }
  .table{
    thead, tbody{
      float: left;
      tr{
        float: left;
        th, td{
          display: block;
          font-size: 18px;
          font-weight: 400;
          color: $header__top_text;
          font-family: 'Open Sans', sans-serif;
        }
      }
    }
  }
  .well{
    padding: 0;
    .static-info{
      margin-bottom: 0;
      .name, .value{
        font-size: 18px;
        font-weight: 600;
        color: $header__top_text;
        display: inline-block;
      }
    }
  }
}
