#main{
  .main__clients{
    @include block(block, 100%, auto, none);
    @media (max-width: $wml){
      display: none;
    }
    ul{
      @include block(block, 100%, auto, none);
      @include display(flex);
      justify-content: space-between;
      padding-top: 50px;
      li{
        @include block(block, 392px, auto, none);
        border-bottom: 2px solid $color;
        &:last-child{
          @media (max-width: $wt){
            display: none;
          }
        }
        @media (max-width: $wds){
          width: 316px;
        }
        .image-holder{
          @include block(block, 392px, 262px, none);
          overflow: hidden;
          @media (max-width: $wds){
            width: 100%;
            height: 211px;
          }
        }
        .li__title{
          @include text($black, 20px, 400, center);
          margin: 18px 0 0 0;
          font-family: 'Open Sans', sans-serif;
          @media (max-width: $wt){
            font-size: 18px;
          }
        }
        .li__text{
          @include text($grayText, 16px, 400, left);
          padding: 24px 18px 8px 18px;
          min-height: 132px;
          font-family: 'Open Sans', sans-serif;
        }
        .li__date{
          @include text($grayText, 16px, 400, center);
          position: relative;
          width: 294px;
          margin: 0 auto;
          padding: 12px 0;
          &:before{
            @include pseudo-elem(100%, 1px, #e4e4e4);
            position: absolute;
            top: 0;
            left: 0;
          }
        }
      }
    }
  }
  .main__bottom-text{
    @include block(block, 100%, auto, none);
    padding-bottom: 40px;
    @media (max-width: $wml){
      display: none;
    }
    h6{
      @include text($color, 30px, 600, center);
      text-transform: uppercase;
      padding: 26px 0 20px 0;
      @media (max-width: $wt){
        font-size: 22px;
      }
    }
    .bottom-text__title{
      @include text($black, 20px, 400, center);
      padding-bottom: 20px;
      font-family: 'Open Sans', sans-serif;
      @media (max-width: $wt){
        font-size: 18px;
      }
    }
    .bottom-text__text{
      @include text($grayText, 16px, 400, center);
      width: 300px;
      margin: 0 auto;
      padding-bottom: 20px;
      font-family: 'Open Sans', sans-serif;
    }
    .bottom-text__contact{
      @include text($color, 16px, 400, center);
      @include block(block, 183px, 43px, none);
      border: 1px solid $color;
      line-height: 43px;
      margin: 0 auto 50px auto;
      -webkit-transition: background-color .5s, color .5s;
      -moz-transition: background-color .5s, color .5s;
      -ms-transition: background-color .5s, color .5s;
      -o-transition: background-color .5s, color .5s;
      transition: background-color .5s, color .5s;
      font-family: 'Open Sans', sans-serif;
      &:hover{
        background: $color;
        color: #fff;
      }
    }
    .bottom-text__bottom-text{
      @include text($black, 18px, 400, center);
      text-transform: uppercase;
      position: relative;
      width: 1026px;
      margin: 0 auto;
      padding-top: 26px;
      font-family: 'Open Sans', sans-serif;
      &:after{
        @include pseudo-elem(100%, 1px, #e4e4e4);
        position: absolute;
        left: 0;
        top: 0;
      }
      @media (max-width: $wds){
        width: auto;
      }
      @media (max-width: $wt){
        width: auto;
      }
    }
    .bottom-text__site{
      @include text($color, 12px, 400, center);
      display: block;
      margin-top: 16px;
      font-family: 'Open Sans', sans-serif;
    }
  }
}
