#main{
	.till-kassan-container{
		@include block(block, 100%, auto, #fff);
		.till-kassan-text{
			@include text(#555555, 18px, 700, center);
			margin:145px auto 60px;
			width: 200px; 
		}
		a{
			@include text(#fff, 18px, 600, center);
			@include block(block, 298px, 43px,#00b1a9);
			border: 1px solid $color;
			margin: 0 auto;
			line-height: 43px;
			@include duration($time);
			font-family: 'Open Sans', sans-serif;	
		}
	}

}




