#main{
  .list__title{
    @include block(block, 100%, auto, none);
    @include text(#fff, 18px, 600, center);
    float: left;
    padding: 10px 0;
    margin: 10px 0 0 0!important;
    background: $color;
    cursor: pointer;
  }
  .construction__tabs{
    float: left;
    clear: left;
    margin:  0!important;
    background: transparent;
    padding: 0;
    border: 0;
    border-top: none;
    @include border-radius(0);
    display: none;
    width: 100%;
    &.no-border{
      border: 1px solid transparent;
    }
    li{
      @include block(block, 100%, auto, none);
      cursor: pointer;
      position: relative;
      overflow: hidden;
      margin: 0!important;
      height: 40px;
      min-height: 40px!important;
      .toggle{
        position: relative;
        z-index: 2;
        display: block;
        @include text($color, 18px, 600, center);
        background: #fff;
        margin: 0!important;
        font-family: 'Open Sans', sans-serif;
        color: $header__top_text;
        border: none;
        width: 100%;
        padding:0;
        &:after, &:before{
          @include pseudo-elem(100%, 10px, $gray);
          position: absolute;
          left: -1px;
          bottom: -11px;
          z-index: 4;
          border-left: 1px solid $gray;
          border-right: 1px solid $gray;
          display: none;
        }
      }
      .img-bg{
        position: absolute;
        left: 0;
        top: 0;
        @include calc(width, '100% - 2px');
        height: 48px;
        border: none;
        overflow: hidden;
        z-index: 1;
      }
      .inner{
        overflow: hidden;
        overflow-y: scroll;
        display: none;
        margin: 0 !important;
        max-height: 530px;
        width: 100%;
        padding-right: 0;
        position: relative;
        z-index: 0;
        padding-bottom: 0;
        li{
          @include block(block, 100%, auto, #fff);
          min-height: 172px;
          position: relative;
          overflow: hidden;
          margin: 0!important;
          &:after{
            @include pseudo-elem(30px, 30px, url(../images/active.png) no-repeat);
            position: absolute;
            right: 5px;
            bottom: 5px;
            display: none;
          }
          &:before{
            @include pseudo-elem(100%, 100%, none);
            z-index: 3;
            position: absolute;
            left: 0;
            top: 0;
          }
          p{
            @include text($black, 20px, 400, left);
            font-family: 'Open Sans', sans-serif;
            padding: 0 0 4px 10px;
            margin: 0!important;
            position: absolute;
            top: 16px;
          }
          .image-holder{
            width: 100%;
            min-height: 104px;
            margin: 10px auto!important;
            padding:0;
            @include display(flex);
            justify-content: center;
            align-items: center;
            border: 1px solid #e4e4e4;
          }
          &.active{
            &:after{
              display: block;
            }
          }
        }
      }
      &.active{
        height: auto;
        .toggle{
          background: $color;
          color: #fff;
        }
        ul{
          height: 100%;
        }
      }
    }
  }
  .tabs__container{
    @include block(block, 100%, auto, none);
    .main__gallery{/*style for disable background of this block on page GALLERY*/
      background: none;
    }
    & > div{
      display: none;
      overflow: hidden;
    }
    .div__title{
      @include text($black, 25px, 500, left);
    }
    ul{
      @include display(flex);
      justify-content: flex-start;
      padding: 28px 0 50px 0;
      margin-bottom: 0!important;
      li{
        @include block(block, 366px, 239px, none);
        border: 2px solid #e4e4e4;
        padding: 16px;
        overflow: hidden;
        margin-right: 62px;
        &:last-child{
          margin-right: 0;
        }
        .image-holder{
          @include block(block, 100%, 208px, none);
          position: relative;
          overflow: hidden;
          img{
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            margin: auto;
          }
        }
        .li__title{
          @include text($black, 25px, 600, left);
        }
        &.active{
          -webkit-box-shadow: 0 0 0 8px $color inset;
          -moz-box-shadow: 0 0 0 8px $color inset;
          -ms-box-shadow: 0 0 0 8px $color inset;
          -o-box-shadow: 0 0 0 8px $color inset;
          box-shadow: 0 0 0 8px $color inset;
          border: 2px solid $color;
        }
      }
    }
  }
  .main__constructor_container{
    @include block(block, 100%, auto, none);
    float: right;
    background: transparent;
    position: relative;
    margin-top: 10px;
    display: inline-block;
    .portlet-body{
      padding: 0!important;
      display: inline-block;
      overflow: hidden;
      width: 228px;
      margin-top:49px;
      position: relative;
      top: 1px;
      .canvas-container{
        box-shadow: 0 0 0 1px $color!important;
      }
    }
  }
}
#design-cart{
  position: relative;
  margin-top: -40px;
  .table-responsive{
    border:none!important;
    padding: 10px!important;
  }
  .portlet-body{
      top: 0px!important;
      margin-top: -5px!important;
      width: 100%!important;
  }
  .portlet-title{
    width:100%;
  }

  .design-remove-cell{
    display:block!important;
    position: relative ;
    .btn{
      position: absolute;
      top: -41px;
      display: block;
      right: 11px;
      display: block!important;
      height: 33px;
      width: 50px;
      background-color: transparent;
      border: 0;
      background-repeat: no-repeat;
      background-position: 50% 50%;
      background-size: 25px;
      background-image: url(../images/cancel-red.png);
      &:hover{
        background-color: transparent;
        border-color:  transparent;
      }
      i{
        display:none;
      }
    }
  }

  td {
    float: right;
    width: 69%!important;
    height: 25px;
    &.design-item-thumb{
      display:none!important;
    }
  }
  th {
    float: left;
    width: 31%!important;
    height: 25px;
  }
   th,td{
       margin: 5px 0;
       .btn{display:none;}
       input.design-number-input {
          width: 111px;
          text-align: center;
          border-radius: 11px;
          border-color: #969696;
       }
   }
  .caption{
    i{
      font-size: 27px!important;
      margin-top: 0px!important;
      margin-right: 8px!important;
    }
  }

}

#design-btn-material,
#design-btn-extra .icon-btn,
#design-btn-legs .icon-btn{
  border-right:0!important;
  border-left: 0!important;
}
#design-modal-properties,
#design-modal-hole,
#design-modal-frasa{
  border-left:0!important;
}
.portlet.box.default>.portlet-title, .portlet.default, .portlet>.portlet-body.default {
    background-color: transparent;
}