.portlet-title{
  float: left;
  padding: 0 !important;
  margin: 0!important;
  .btn-group{
    display: block;
    width: 70px;
    a.icon-btn{
      width: 70px;
      min-width: 70px;
      height: 50px;
      margin: 0;
      border-top: 0;
    }
  }
}
.canvas-container{
  width: 226px;
  float: right;
}
.portlet.box>.portlet-title {
    top: 55px!important;
    font-size: 18px!important;
}
.design-canvas-px{
  position: relative;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 300px;
.canvas-container{
    width: 100%!important;
    height: 100%!important;
    padding: 0!important;
    border-left: 0!important;
}
  canvas{
    width: 100% !important;
    height: 100% !important;
  }
}
// #design-btn-hole{
//   display: none!important;
// }
// #design-btn-frasa{
//   display: none!important;
// }

#design-btn-tour{
  display: none!important;
}
#design-action-price{
  position: absolute;
  left: 77px;
  top: 326px;
  background: none;
  border: none;
  padding: 0;
  span{
    font-size: 18px;
    font-weight: 600;
    color: $header__top_text;
  }
  i{
    color: $header__top_text;
  }
}
#design-action-weight{
  position: absolute;
  top: 325px;
  right: 7px;
  background: none;
  border: none;
  padding: 0;
  span{
    font-size: 18px;
    font-weight: 600;
    color: $header__top_text;
  }
  i{
    color: $header__top_text;
  }
}
.page-content-inner.design-page{
  border-top: 1px solid #e4e4e4!important;
  >.portlet{
    height: 350px;
    display: block;
    overflow: hidden;
    border: 1px solid #ddd;
    .portlet-title{
      min-height: 350px!important;
    }
  } 
}
.canvas-overlay{
  display: block;
  width: 230px;
  height: 300px;
  position: absolute ;
  top:0;
  left:0;   
}
#design-action-material {
    border-bottom: 1px solid #e4e4e4;
    border-right: 1px solid #e4e4e4;
    border-top: 0;
    border-left: 0;
    width: 230px;
    height: 49px;
    z-index: 222;
    background: #fafafa;
    position: absolute;
    left: 70px;
    top: 2px;
    color: black;
    border-radius: 0;
    padding: 3px 46px 10px 8px;
    &:after{
      display: block;
      position: absolute ;
      bottom:0;
      left:0;
      width: 230px;
      height: 300px;   
      background: transparent;
      z-index: 444;  
    }
    span{
      display: block;
      width: 177px!important;
      overflow: hidden;
      font-size: 18px;
      font-weight: 600;
      color:#555555;
      display: block;
      width: 100%;
      white-space: normal;
    }
    i{
      display: none!important;
    }
}
// #design-action-legs{
//   display: none;
// }
.modal-content #design-hole .pull-right{
  float:left!important;
}
.modal-content #design-frasa .pull-right{
  float:left!important;
}
#design-action-options,#design-action-legs{
  display: block;
  width: 100%;
  @include border-radius(0);
  color: #00b1a9;
  background-color: #ffffff;
  margin: 6px 0;
  i{
    display: none;
  }
}
#design-actions {
  min-height:55px!important;
  .portlet-title{
    width: 300px;
  }
}
#design-modal-properties .form-group{
  label{
      margin-bottom: 10px;
      display: block!important;
  }
  input{
    display: inline-block!important;
  }
} 
#design-action-add{
  display: block;
  width: 300px;
  height: 45px;
  position: static;
  background: $color;
  @include border-radius(0);
  color: #fff;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  border: 1px solid #ddd;
  padding: 6px 10px;
  position: relative;
  top: 8px;
  i{
    display: none;
  }
}
#design-action-rensa{
  background-color: transparent;
  border: none;
  width: 30px;
  height: 30px;
  text-indent: 20px;
  overflow: hidden;
  position: absolute;
  top: 11px;
  right: 6px;
  z-index: 333;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 25px;
  background-image: url(../images/cancel-red.png);
  i{
    display:none!important;

  }
}
// #design-btn-tour{
//   display: none;
// }
.portlet{
  margin-bottom: 0!important;
  &.default{
    background-color: transparent;
  }
  &>.portlet-title{
    border-bottom: 1px solid transparent!important;
  }
}
.table-hover>tbody>tr:hover, .table-hover>tbody>tr:hover>td {
    background: transparent!important;
}
.portlet-title.design-btns{
  background: transparent!important;
  display:block;
  width: 69px;
  border-right: 1px solid #ddd!important;
  overflow: hidden!important;
}
.caption{
  display: block!important;
  font-size: 18px!important;
  color: $header__top_text!important;
  padding: 0 5px!important;
  i{
    color: $header__top_text;
    font-size: 18px;
    margin-right: 20px;
  }
}
.table{
  thead, tbody{
    float: left;
    border: none;
    tr{
      float: left;
      border: none;
      background: #fff!important;
      th, td{
        display: block;
        font-size: 18px;
        font-weight: 400;
        color: $header__top_text;
        font-family: 'Open Sans', sans-serif;
        padding: 0 5px!important;
        border: none!important;
        // &:first-of-type{
        //   display: none;
        // }
        // &:last-of-type{
        //   display: none;
        // }
        .input-sm{
          height: 22px;
        }
      }
    }
  }
  tbody{
    width: 100%;
  }
}

.well{
  width: 100%;
  position: relative;
  left: 0;
  bottom: 20px;
  margin: 3px 0 20px 0;
  padding: 0;
  background: #e4e4e4;
  height: 40px;
  line-height: 40px;
  text-align: left;
  text-indent: 10px;
  @include border-radius(0);
  .static-info{
    margin-bottom: 0;
    .name, .value{
      font-size: 18px;
      font-weight: 600;
      color: $header__top_text;
      text-align: left;
      display: inline-block;
    }
  }
}
#step-0{
  display:none;
}

#design-cart-checkout{
  width:100%;
  @include border-radius(0);
  padding: 9px 95px 8px;
  position: relative;
  bottom: 15px;
  i{
    display: none;
  }
}
.popover,.popover.tour{
  z-index: 200;
}

#design-btn-former{
  border-left: 0;
}