.portlet-title{
  float: left;
  padding: 0 !important;
  margin: 0!important;
  .btn-group{
    display: block;
    width: 70px;
    a.icon-btn{
      width: 70px;
      min-width: 70px;
      height: 50px;
      margin: 0;
      border-top: 0;
    }
  }
}
#design-cart .portlet-body {
    top: 0px!important;
}
.canvas-container{
  width: 226px;
  float: right;
}
.portlet.box>.portlet-title {
    top: 55px!important;
    font-size: 18px!important;
}
.design-canvas-px{
  position: relative;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 300px;
.canvas-container{
    width: 100%!important;
    height: 100%!important;
    padding: 0!important;
    border: 1px solid #ddd!important;
}
  canvas{
    width: 100% !important;
    height: 100% !important;
  }
}
// #design-btn-hole{
//   display: none!important;
// }
// #design-btn-frasa{
//   display: none!important;
// }
// #design-btn-tour{
//   display: none!important;
// }
#design-action-price{
  position: absolute;
  left: 77px;
  top: 326px;
  background: none;
  border: none;
  padding: 0;
  span{
    font-size: 18px;
    font-weight: 600;
    color: $header__top_text;
  }
  i{
    color: $header__top_text;
  }
}
#design-action-weight{
  position: absolute;
  top: 325px;
  right: 7px;
  background: none;
  border: none;
  padding: 0;
  span{
    font-size: 18px;
    font-weight: 600;
    color: $header__top_text;
  }
  i{
    color: $header__top_text;
  }
}
.page-content-inner.design-page{
  border-top: 1px solid #e4e4e4!important;
}
#design-action-material {
    border-bottom: 1px solid #e4e4e4;
    border-right: 1px solid #e4e4e4;
    border-top: 0;
    border-left: 0;
    width: 230px;
    height: 49px;
    z-index: 222;
    background: #fafafa;
    position: absolute;
    left: 70px;
    top: 2px;
    color: black;
    border-radius: 0;
    padding: 6px 20px;
    span{
      font-size: 18px;
      font-weight: 600;
      color:#555555;
      display: block;
      width: 100%;
      white-space: normal;
    }
    i{
      display: none!important;
    }
}
#design-action-legs{
  display: none;
}
#design-action-options{
  display: none;
}
#design-action-add{
  display: block;
  width: 300px;
  height: 45px;
  position: static;
  background: $color;
  @include border-radius(0);
  color: #fff;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  border: 1px solid #ddd;
  padding: 6px 10px;
  position: relative;
  top: 8px;
  i{
    display: none;
  }
}
// #design-action-rensa{
//   display: none;
// }
// #design-btn-tour{
//   display: none;
// }
.portlet{
  margin-bottom: 0!important;
  &.default{
    background-color: transparent;
  }
  &>.portlet-title{
    border-bottom: 1px solid transparent!important;
  }
}
.portlet-title{
  background: transparent!important;
  width: 100%;
  display: inline-block;
  width: 70px;
}
.design-cart{
  position: relative;
  // top: -100px;
}
.caption{
  display: block!important;
  font-size: 18px!important;
  color: $header__top_text!important;
  padding: 0 5px!important;
  i{
    color: $header__top_text;
    font-size: 18px;
    margin-right: 20px;
  }
}
.table{
  thead, tbody{
    float: left;
    border: none;
    tr{
      float: left;
      border: none;
      background: #fff!important;
      th, td{
        display: block;
        font-size: 18px;
        font-weight: 400;
        color: $header__top_text;
        font-family: 'Open Sans', sans-serif;
        padding: 0 5px!important;
        border: none!important;
        &:first-of-type{
          display: none;
        }
        &:last-of-type{
          display: none;
        }
        .input-sm{
          height: 22px;
        }
      }
    }
  }
  tbody{
    width: 189px;
  }
}
.well{
  width: 280px;
  position: relative;
  left: -156px;
  bottom: 20px;
  margin: 0;
  background: none;
  .static-info{
    margin-bottom: 0;
    .name, .value{
      font-size: 18px;
      font-weight: 600;
      color: $header__top_text;
      text-align: left;
      display: inline-block;
    }
  }
}
#design-cart-checkout{
  @include border-radius(0);
  padding: 9px 95px 8px;
  position: relative;
  bottom: 30px;
  i{
    display: none;
  }
}
.popover,.popover.tour{
  z-index: 200;
}
