.max-height{height: 100vh!important ;}
#header{
  @include block(block, 100%, auto, #fff);
  position: fixed;
  z-index: 999;
  .header__top{
    @include block(block, 100%, 34px, $gray);
    border-bottom: 1px solid #e4e4e4;
    display: none;
    .layout *{
      color: $grayText;
      float: right;
      line-height: 34px;
      font-family: 'Open Sans', sans-serif;
    }
    .top__log-in{
      margin-right: 0;
    }
    .top__social{
      padding: 0 30px;
      li{
        margin: 0 8px;
        a{
          .social__icon, .icon{
            @include block(block, 16px, 16px, none);
            position: relative;
            &:before{
              position: absolute;
              left: 0;
              top: 0;
              width: 100%;
              height: 100%;
            }
          }
        }
      }
    }
    .top__e-mail{
      margin-right: 30px;
      display: none;
    }
  }
  .header__bot{
    @include block(block, 100%, 77px, none);
    border-bottom: 1px solid #e4e4e4;
    background: #f0f0f0;
    height: 50px;
    &.active{
      background-color: #ffffff;
      border-bottom: 1px solid transparent;
    }
    .header__logo{
      @include block(inline-block, 166px, 35px, url(../images/logo.png));
      @include background(size, 100%, 100%);
      float: left;
      position: relative;
      margin: 8px 0;
      &:after{
        content: "beta";
        position: absolute;
        top: 4px;
        right: 4px;
        width: 34px;
        height: 15px;
        color: #fff;
        background: #08ADA7;
        text-align: center;
        line-height: 16px;
        font-size: 9px;
        font-weight: 700;
        text-transform: uppercase;
        font-family: 'Open Sans', sans-serif;
        border-radius: 4px;
      }
    }
    #nav{
      @include block(inline-block, 100%, auto, rgba(255,255,255, 1));
      margin: 0 0 0 160px;
      width: 100%;
      position: absolute;
      top: 51px;
      right: 0;
      left: auto;
      padding-top: 0;
      border: none;
      display: none;
      overflow: auto;
      // height:  calc(100vh - 51px);
      height: calc(100vh - 30%);

      &.active{
        @include display(inline-block);
      }
      li{
        @include block(inline-block, 100%, auto, none);
        display: block;
        width: 100%;
        line-height: 1;
        text-align: center;
        padding: 9px 0;
        &:first-child a{
            display: block;
            width: 200px;
            height: 35px;
            background: #e4e4e4;
            -webkit-border-radius: 10px;
            -moz-border-radius: 10px;
            -ms-border-radius: 10px;
            border-radius: 10px;
            color: #555555;
            font-size: 18px;
            font-weight: 400;
            text-align: center;
            margin: auto;
            line-height: 35px;
            font-family: 'Open Sans', sans-serif;
            text-indent: 15px;
            background-repeat: no-repeat;
            background-size: 26px;
            background-position: 15% 50%;
            background-image: url(../images/online-store-shopping-cart.png);
          }

        // &:first-child{
        //   padding: 5px 0 0 0;
        // }
        // .header__basket{
        //   @include block(block,  200px,  35px, #e4e4e4);
        //   @include border-radius(10px);
        //   @include text(#555555, 18px, 400, center);
        //   margin:auto;
        //   line-height: 35px;
        //   font-family: 'Open Sans', sans-serif;
        //   text-indent: 15px;
        //   background-repeat: no-repeat;
        //   background-size: 26px;
        //   background-position: 15% 50%;
        //   background-image: url(../images/online-store-shopping-cart.png);
        // }
        a{
          @include text($black, 22px, 600, center);
          @include block(inline-block, auto, 100%, none);
          position: relative;
          @include duration(300ms);
          font-family: 'Open Sans', sans-serif;
          text-decoration: none!important;
          -webkit-text-shadow: none!important;
          -ms-text-shadow: none!important;
          -moz-text-shadow: none!important;
          -o-text-shadow: none!important;
          text-shadow: none!important;
          font-family: 'Exo', sans-serif;
        }
        &.active, &.current-menu-item{
          a{
            color: $color;
            font-weight: 600;
            -webkit-text-shadow: none;
            -ms-text-shadow: none;
            -moz-text-shadow: none;
            -o-text-shadow: none;
            text-shadow: none;
            &:after{
              @include pseudo-elem(100%, 2px, $color);
              position: absolute;
              left: 0;
              bottom: 0;
            }
          }
        }
      }
    }
   .login-link{
        margin-top:0;
        display:nonez;
        @include text(#08ada7, 22px,600, center);
        font-family: 'Exo', sans-serif;
        // position: fixed;
        // bottom: 100px;
        position: absolute;
        bottom: 150px;
        width: 300px;
        left: 50%;
        margin-left: -150px;
        text-align: center;
        &.visible{
          display: block!important ;
        }
      }
    .header__become-partner{
      @include block(none, 300px,45px, #08ada7);
      @include text(#ffffff, 18px,600, center);
      margin:auto;
      line-height: 45px;
      float:none;
      background: #08ADA7;
      z-index: 333;
      // position: fixed;
      // bottom: 35px;
      position: absolute;
      bottom: 88px;
      left: 50%;
      margin-left: -150px;
      &.visible{
        display: block!important ;
      }
    }
    .hamburger{
      float: right;
      width: 29px;
      height: 29px;
      margin: 13px 0 0 0;
      cursor: pointer;
      background-repeat: no-repeat;
      background-position: 50% 50%;
      background-size: 29px ;
      background-image: url(../images/menu.png);
      &.active{
        background-size: 26px ;
        background-image: url(../images/cancel.png);
      }
    }
    .header__become-partner{
      @include block(none, 300px, 43px,#08ADA7);
      @include text(#fff, 16px, 400, center);
      float:none;
      line-height: 43px;
      border: 1px solid $color;
      margin-top: 20px;
      @include duration(500ms);
      font-family: 'Open Sans', sans-serif;
      margin-right: 10px;
      &:hover{
        background: #fff!important;
        color:#08ADA7;
        transition: background-color .5s, color .5s;
      }
      &.visible{display:block!important;}
    }
    .header__entered{
      float: right;
      padding: 0 40px 0 0;
      position: relative;
      margin-top: 22px;
      display: none;
      .entered__button{
        @include text($black, 16px, 400, left);
        line-height: 55px;
        position: relative;
        font-family: 'Open Sans', sans-serif;
        font-size: 0;
        &:after, &:before{
          @include pseudo-elem(12px, 2px, $black);
          position: absolute;
          right: -17px;
          top: 10px;
          @include rotate(45deg);
        }
        &:after{
          @include rotate(-45deg);
          right: -25px;
        }
      }
      .entered__menu{
        display: block;
        position: absolute;
        @include calc(left, '50% - 20px');
        @include calc(top, '100% - 10px');
        border: 1px solid #e4e4e4;
        @include border-radius(6px);
        // padding: 6px 16px;
        background: #fff;
        min-width: 124px;
        display: none;
        a{
          display: block;
          @include text($black, 16px, 400, left);
          font-family: "Open Sans", sans-serif;
          padding: 10px 20px;
          &:hover{
            background: #e4e4e4;
          }
        }
      }
      &.active{
        .entered__menu{
          z-index: 4;
          display: block;
        }
      }
    }
    /*custom box wordpress*/
    .header_cart{
      float: right;
      width: 30px;
      height: 100%;
      display: none;
      .cart-notification{
        position: absolute;
        width: auto;
        display: none;
      }
      .cart_widget_holder{
        display: block;
      }
      .icon{
        display: block;
        display: block;
        padding: 0 8px 0 16px;
        font-size: 20px;
        // background: red;
        height: 32px;
        margin: 27px 0 0 0;
        position: relative;
        &:before{
          position: absolute;
          left: 5px;
          top: 15px;
        }
        &:after{
          @include pseudo-elem(70%, 2px, $black);
          @include duration(300ms);
          position: absolute;
          left: 15%;
          bottom: 4px;
          opacity: 0;
        }
        .cart-wrap{
          border-radius: 100%;
          background-color: #08ada7;
          min-width: 18px;
          color: #fff;
          text-align: center;
          height: 18px;
          line-height: 18px;
          font-size: 10px;
          position: absolute;
          top: 50%;
          right: -17px;
          -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
          transform: translateY(-50%);
          margin-top: -6px;
          &:before{
            border-color: transparent #08ada7 transparent;
            border-style: solid solid solid none;
            border-width: 13px 6px 0px medium;
            content: "";
            height: 0;
            left: -2px;
            position: absolute;
            top: 2px;
            width: 0;
            z-index: -1;
          }
        }
        &:hover{
          &:after{
            opacity: 1;
          }
        }
      }
      .widget_shopping_cart, .wooocommerce{
        clear: both;
        display: none;
        background: #fff;
        top: 77px;
        position: absolute;
        min-width: 300px;
        right: -23px;
        z-index: 100000;
        -webkit-transition: top 0.1s ease-out;
        -moz-transition: top 0.1s ease-out;
        -o-transition: top 0.1s ease-out;
        -ms-transition: top 0.1s ease-out;
        transition: top 0.1s ease-out;
        .widget_shopping_cart_content{
          position: absolute;
          top: 0;
          left: 0;
          padding-bottom: 15px;
          background: rgba(20,20,20,0.94);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
          -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
          -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
          -o-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
          &:before{
            content: "";
            display: block;
            position: absolute;
            right: 18px;
            top: -7px;
            border-bottom: 7px solid rgba(20,20,20,0.94);
            border-left: 6px solid transparent;
            border-right: 6px solid transparent;
          }
          p{
            margin-left: 10px;
            &.total{
              color: #f0f0f0;
              padding: 10px 0;
              border: none!important;
            }
          }
          ul{
            padding-bottom: 10px;
            li{
              color: #f0f0f0;
              font-size: 14px;
              font-family: 'Open Sans', sans-serif;
              padding-left: 0;
              position: relative;
              padding: 6px 20px 20px 78px;
              min-height: 38px;
              min-width: 186px;
              &:after{
                @include pseudo-elem(100%, 1px, #f0f0f0);
                position: absolute;
                left: 0;
                bottom: 0;
              }
              .custom-thumb{
                background: #fff;
                border: 1px solid rgba(0,0,0,0.06);
                padding: 2px;
                box-shadow: none!important;
                -webkit-box-shadow: none!important;
                -moz-box-shadow: none!important;
                margin-left: 0px!important;
                margin-right: 14px !important;
                -webkit-border-radius: 1px !important;
                -moz-border-radius: 1px!important;
                border-radius: 1px!important;
                -webkit-transition: all 0.2s linear;
                -moz-transition: all 0.2s linear;
                -ms-transition: all 0.2s linear;
                -o-transition: all 0.2s linear;
                transition: all 0.2s linear;
                width: 56px !important;
                height: 29px !important;
                position: absolute;
                left: 10px;
                top: 10px;
              }
              .remove{
                float: right;
                color: #fff!important;
                background: none!important;
                font-size: 1.5em;
                height: auto!important;
                width: auto!important;
                cursor: pointer;
                @include duration(300ms);
                position: absolute;
                top: 0;
                right: 6px;
                left: auto!important;
                &:hover{
                  color: #e4e4e4!important;
                }
              }
              .quantity{
                display: block;
                position: relative;
                left: -64px;
                top: 10px;
              }
              &:hover{
                background: rgba(255,255,255, .1);
              }
            }
          }
        }
        .buttons{
          a{
            margin: 5px 0;
            line-height: 1;
            cursor: pointer;
            position: relative;
            text-decoration: none;
            overflow: visible;
            padding: .618em 1em;
            font-weight: 700;
            border-radius: 3px;
            left: auto;
            color: #fff;
            background: $color;
            border: 0;
            white-space: nowrap;
            display: inline-block;
            background-image: none;
            box-shadow: none;
            -webkit-box-shadow: none;
            text-shadow: none;
            @include duration(300ms);
            &:hover{
              background: $grayText;
            }
          }
        }
      }
    }
  }
}

#header .header__bot #nav li:hover{background-color: transparent!important;}
