#main{
  .main__pre-made{
    @include block(block, 100%, auto, none);
    .pre-made__title{
      @include text($black, 20px, 500, left);
      margin: 40px 0 0 0;
      font-family: 'Open Sans', sans-serif;
      display: none;
    }
    .pre-made__list{
      @include block(inline-block, 100%, auto, none);
      li{
        @include block(block, 296px, auto, none);
        float: left;
        border: 2px solid #e4e4e4;
        margin: 0 0 20px 0!important;
        margin-right: 62px;
        padding: 40px 0 48px 0;
        position: relative;
        &:nth-child(3n){
          margin-right: 0;
        }
        .image-holder{
          @include block(block, 100%, 250px, none);
          overflow: hidden;
          position: relative;
          img{
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            margin: auto;
          }
        }
        .li__title{
          @include text($black, 20px, 400, left);
            color: $header__top_text;
            display: inline-block;
            position: absolute;
            left: 10px;
            top: 10px;
            padding: 0;
            width:135px;
        }
        .li__text{
          @include text($grayText, 16px, 400, left);
          padding: 10px 20px;
          font-family: 'Open Sans', sans-serif;
          display: none;
        }
        a{
          @include text(#fff, 18px, 600, center);
          @include block(block, 298px, 43px, $color);
          border: 1px solid $color;
          margin: 10px auto 0 auto;
          line-height: 43px;
          @include duration($time);
          font-family: 'Open Sans', sans-serif;
          position: absolute;
          left: -2px;
          bottom: -2px;
          &.li__price{
            background: none;
            color: $color;
            width: auto;
            height: 28px;
            font-weight: 600;
            left: auto;
            right: 5px;
            top: 5px;
            display: inline-block;
            line-height: 26px;
            padding: 0 6px;
            margin: 0;
          }
          &.buy-now-btn{
            display:none;
          }
        }
      }
    }
    .pre-made__more{
      @include text($color, 20px, 400, right);
      @include block(block, auto, auto, none);
      float: right;
      position: relative;
      -webkit-text-shadow: 1px 0 #fff, -1px 0 #fff;
      -ms-text-shadow: 1px 0 #fff, -1px 0 #fff;
      -moz-text-shadow: 1px 0 #fff, -1px 0 #fff;
      -o-text-shadow: 1px 0 #fff, -1px 0 #fff;
      text-shadow: 1px 0 #fff, -1px 0 #fff;
      z-index: 2;
      font-family: 'Open Sans', sans-serif;
      margin-top: 12px;
      display: none;
      &:after{
        @include pseudo-elem(100%, 1px, $color);
        position: absolute;
        bottom: 3px;
        left: 0;
        z-index: -1;
      }
    }
    .mob-text{
        display: block;
        width: 100%;
        text-align: center;
        background: #e4e4e4;
        padding: 12px 0 20px 0;
        margin-bottom: 20px;
        p{
          color: $header__top_text;
          font-size: 18px;
          font-weight: 600;
          padding: 0 40px;
          &:nth-of-type(2){
            font-weight: 400;
            font-family: 'Open Sans', sans-serif;
            padding: 5px 40px 15px 40px;
          }
        }
        a{
          display: block;
          width: 278px;
          height: 43px;
          background: #fff;
          border: 1px solid $color;
          color: $color;
          margin: 0 auto;
          font-size: 18px;
          font-weight: 600;
          line-height: 43px;
        }
    }
  }
}
